.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #27ab27;
}

.basic-form {
	display: inline-block;
}

.form-button {
	border: none;
	border-radius: 16px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #27ab27;
}

.form-label {
	padding-right: 10px;
}
